/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .ms_clearfix {
  display: table;
  content: '';
  clear: both;
} */

body {
  font-family: sans-serif;
  font-size: 14px;
}
/* dimensione caratteri */
h3 {
  font-size: 1.2em;
  color: white;
  font-weight: 700;
}
.wrapper {
  height: 100vh;
  width: 100%;
}

.bar {
  cursor: pointer;
  display: inline-block;
  height: 5px;
  border-radius: 5px;
  content: '';
  background-color: #5a5a5a;
}
.bar_hover {
  position: relative;
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 5px;
}
.bar:hover .bar_hover {
  background-color: #adff2f;
}
.bar:hover .circle_bar_hover {
  display: block;
}
.circle_bar_hover {
  display: none;
  position: absolute;
  top: -3px;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
}

a {
  color: #6c6c6c;
}
a:hover {
  color: white;
  text-decoration: none;
}

/* inizio main */
main {
  height: calc(100% - 90px);
}
/*inizio main nav */
.main_nav {
  /* position: relative;
  /* display: flex;
  flex-direction: column; */
  width: 200px;
  height: 100%;
  min-height: 400px;
  background-color: black;
}
.menu_content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 95px)

}
.menu_nav li {
  margin-bottom: 10px;
  padding: 0 20px;
}
.menu_nav li:first-child {
  border-left: 3px solid #adff2f;
  padding-left: 17px;
}

.menu_content img {
  height: 20px;
}
.menu_content .logo {
  height: 35px;
  margin: 15px 0 15px -40px;
}
.menu_nav .white{
  color: white;
}

.playlist_nav {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 20px
}
.playlist_nav p {
  color: white;
  margin: 10px 0 0;
  font-weight: 700;
}
.playlist_nav a {
  padding: 5px 0;
}
.playlist_nav i {
  font-size: 30px;
  vertical-align: middle;
}
/* menu user */
.menu_user {
  /* position: absolute;
  bottom: 5px; */
  height: 80px;
  padding: 0 20px;
  width: 100%;
  background-color: black;
}
.menu_user a img {
  height: 15px;
}

.img_profile {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #808080;
  border-radius: 50px;
  vertical-align: middle;
}
.img_profile img {
  height: 20px;
}

.menu_user span {
  color: white;
  vertical-align: middle;
}

.menu_smart{
  display: none;
}
/* fine main nav */

/* inizio body container */
.body_container {
  width: calc(100% - 200px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
  padding: 0 20px;
}
.body_container a {
  font-size: 0.8em;
}
.fixed_body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: calc(100% - 200px);
  height: 70px;
  background-color: #080b128c;
}
.fixed_body a {
  color: white;
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px 40px;
}
.fixed_body a:hover {
  transform: scale(1.1);
}

.body_content {
  margin-top: 70px;
  color: white;
}
.body_content span {
  color: #6c6c6c;
}
.nav_body {
  margin-top: 90px;
}
.nav_body li:first-child {
  position: relative;
}
.nav_body li:first-child::after {
  display: block;
  position: absolute;
  top: 20px;
  left: 30px;
  content: '';
  width: 30%;
  height: 2px;
  background-color: #adff2f;
}
.playlist_music {
  display: flex;
  margin: 30px 0;
}
.music {
  width: 17%;
  padding-right: 20px;
}
.cover {
  display: flex;
  width: 100%;
  position: relative;
}
.layover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #0000007d;
}
.layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
.layover:hover {
  opacity: 1;
}
.playlist_round img,
.cover.round,
.layover.round {
  border-radius: 50%;
}
.music img {
  width: 100%;
  height: 100%;
}
/* fine body content */

/* inizio footer */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 0 5px;
  background-color: #282828;
  color: white;
}
/* inizio song */
.song {
  width: 25%;
  min-width: 160px;
}
.song img {
  height: 40px;
}
.name_song {
  display: inline-block;
  margin: 0 10px 0 5px;
  vertical-align: middle;
}
.name_song a:hover {
  text-decoration: underline;
}
.song > a {
  margin: 0 5px;
}
/* fine song */
/* iniZio play */
.play {
  width: 50%;
  min-width: 140px;
}
.commonds {
  margin-bottom: 10px;
}
.commonds a {
  color: white;
  padding: 0 5px;
  font-size: 17px;
  vertical-align: middle;
}
.commonds .fa-play-circle {
  font-size: 25px;
  vertical-align: middle;
}
.commonds .fa-play-circle:hover {
  transform: scale(1.1);
}
.bar_play {
  width: 55%;
  margin: 0 10px;

}
/* fine play */
.volume {
  width: 25%;
  min-width: 160px;
}
.volume a {
  padding: 0 5px;
  color: white;
  vertical-align: middle;
}
.bar_volume {
  width: 40%;
  vertical-align: middle;
}
/* fine footer */
/* responsive desktop */
@media screen and (min-width:1051px) {
  .playlist_music.row_music {
    justify-content: space-between;
  }
}
/* responsive tablet  */
@media screen and (max-width:1050px) {
  /* bodu container */
  .playlist_music {
  flex-wrap: wrap;
  }
  .music {
    width: 25%;
  }
}
/* responsive smartphone per nav verticale */
@media screen and (max-width:600px) {
  /* main nav */
  .main_nav {
    width: 40px;
    min-height: 225px;
  }
  .menu_smart {
    display: block;
    height: 100%;
  }
  .menu_content,
  .menu_user {
    display: none;
  }

  .menu_content_smart {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    padding-top: 10px;
  }
  .menu_content_smart img {
    height: 25px;
    display: block;
    margin: 0 auto 10px;
  }
  /* .menu_smart > img {
    margin: 5px auto 20px;
  } */
  .menu_user_smart {
    height: 80px;
  }
  .menu_user_smart a img {
    height: 17px;
    margin: 10px;
  }
  .menu_user_smart .img_profile {
    width: 25px;
    height: 25px;
    margin: 7px;
  }
  .img_profile img {
    height: 20px;
  }
  /* .menu_user_smart a,
  .menu_user_smart .img_profile {
    margin: 5px;
  } */
  /* body container */
  .body_container {
    width: calc(100% - 40px)
  }

  .fixed_body {
    width: calc(100% - 40px)
  }
}
/* responsive smartphone */
@media screen and (max-width:700px) {
  /* body_container */
  .music {
    width: 50%;
  }
}
